<!-- Upper Portion of Screen -->
<div class="container-fluid">

  <!-- User Search Form -->
  <h2>Please input your information, then click search!</h2>
  <form [formGroup]="userSearchForm" (ngSubmit)="onSearchUser()">
    <div class="row">
      <div class="col form-group">
        <label for="platform">Platform</label>
        <select formControlName="platform" class="form-group" style="width: 100%;">
          <option *ngFor="let plat of platformOptions" [ngValue]="plat.value">{{ plat.name }}</option>
        </select>
      </div>
      <div class="col form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" />
      </div>
      <div class="col form-group">
        <br/>
        <button class="btn btn-block btn-primary">search!</button>
      </div>
    </div>
  </form>

  <!-- Category Icons and Links -->
  <div *ngIf="presentationOrganization">
    <h1>{{ presentationOrganization.displayProperties.name }}</h1>
    <div class="row no-gutters">
      <div class="col-3 col-sm category-column" *ngFor="let node of presentationOrganization.children.presentationNodes">
        <a href="#">
          <img class="icon-spacing" style='width: 100%;' src='https://www.bungie.net{{node.rootViewIcon}}'/>
        </a>
        </div>
    </div>
  </div>
</div>

<!-- Lower portion of Screen -->
<div class="container-fluid">

  <div class="row">

    <!-- Left Sidebar -->
    <div class="col-4 min-padding" style="padding-left: 15px !important;">
      <div class="row no-gutters" *ngIf="presentationOrganization">
        <div class="col sub-category" *ngFor="let subCategory of presentationOrganization.children.presentationNodes[categorySelection].children.presentationNodes">
          <div class="card bg-dark sub-category-card">
            <img class="card-img" src="https://www.bungie.net{{subCategory.rootViewIcon}}">
          </div>
        </div>
      </div>
    </div>

    <!-- All Triumphs -->
    <div class="col-8">
      <div class="row">
        <div *ngFor="let triumph of triumphList" class="col-sm-12 col-md-6 col-lg-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <div *ngIf="triumph" class="card bg-dark flex-row flex-wrap text-white" style="height: 100%;">
              <div class="triumphIcon">
                  <img width=100% src='{{ triumph.iconPath }}'>
              </div>
              <div class="card-block px-2">
                  <h4 class="card-title text-margin">{{ triumph.name }}</h4>
                  <p class="card-text text-margin">{{ triumph.description }}</p>
              </div>
              <div class="w-100"></div>
              <div class="card-footer w-100">
                <div *ngFor="let objective of triumph.objectives">
                  <p class="card-text text-margin">{{ objective.description }}</p>
                  <div class="progress">
                    <div class="progress-bar bg-secondary" [ngStyle]="{'width': objective.completionPercent + '%'}">
                        <span class="justify-content-center d-flex position-absolute w-100" style="color: #000; font-weight: bold;">
                            {{ objective.progress }} / {{ objective.completionValue }}
                        </span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
