<!-- Navbar for Main Page Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- Navbar Icon and Text -->
  <span class="navbar-brand" href="#">
    <img alt="" src="assets/Icon_Purple.png" width=30 height=30>
    Triumph Tracker
  </span>
  <!-- Navbar Toggle Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#MainMenuNav" aria-controls="MainMenuNav"
          aria-expanded="false" aria-label="Toggle Main Menu Navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar Expand Menu -->
  <div class="collapse navbar-collapse" id="MainMenuNav">
    <ul class="navbar-nav">
      <a class="nav-link nav-item" routerLink="/triumph">Triumphs</a>
      <a class="nav-link nav-item" routerLink="/tracker">Tracker</a>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
