/* You can add global styles to this file, and also import other style files */
.card {
  height: 100%;
}

.triumphIcon {
  align-content: flex-start;
  width: 3.2rem;
  padding: 0.5rem 0rem 0rem 0.5rem;
}

.progress {
  position: relative;
  background-color: darkgray;
}

.card-block {
  padding: 0.2rem 0 0.2rem 0;
}

.card-title {
  margin: 0 0 0.3rem 0;
}

.card-text {
  margin: 0 0 0.3rem 0;
}

.icon-spacing {
  padding-right: 2%;
  padding-left:  2%;
}

.sub-category {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.5rem;
}
