<div style="text-align:center">
  <h1>
    This is the Triumph Tracker!
  </h1>
</div>

<div class="container">

  <!-- triumph styling test -->
  <div class="triumph">
    <!-- triumph icon, name, desription go here-->
    <div class="triumph-header">
      <img width="10" src="https://www.bungie.net/common/destiny2_content/icons/bfe570eef316e3893589a152af716479.png">
      <h5>Webspinner</h5>
      <p>Complete Heroic public events with three Nightstalker Hunters.</p>
    </div>
    <div class="triumph-objectives">
      <p>objective complete:</p>
      <div class="progress">
        <div class="progress-bar" style="width:50%">
          75/150
        </div>
      </div>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
        <h5 class="card-title">Webspinner</h5>
    </div>
    <div class="card-body">
      <img width=30 style='align-content: flex-start' src='https://www.bungie.net/common/destiny2_content/icons/bfe570eef316e3893589a152af716479.png' />
      <p class="card-text ">Complete Heroic public events with three Nightstalker Hunters.</p>
      <p class="card-text">objective complete:</p>
      <div class="progress">
        <div class="progress-bar" style="width:50%">
          75/150
        </div>
      </div>
    </div>
  </div>

  <div class="card card-primary">
    <div class="card-header">
        <img class="triumphIcon" src='https://www.bungie.net/common/destiny2_content/icons/bfe570eef316e3893589a152af716479.png' />
        <h5 class="card-title">Webspinner</h5>
        <p class="card-text ">Complete Heroic public events with three Nightstalker Hunters.</p>
    </div>
    <div class="card-body">
      <p class="card-text">objective complete:</p>
      <div class="progress">
        <div class="progress-bar" style="width:0%">
          75/150
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-dark flex-row flex-wrap text-white">
      <div class="triumphIcon">
          <img width=100% src="https://www.bungie.net/common/destiny2_content/icons/bfe570eef316e3893589a152af716479.png" alt="">
      </div>
      <div class="card-block px-2">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Description</p>
      </div>
      <div class="w-100"></div>
      <div class="card-footer w-100">
        <div>
          <p class="card-text">objective complete:</p>
          <div class="progress">
            <div class="progress-bar bg-secondary" style="width:50%">
                <span class="justify-content-center d-flex position-absolute w-100" style="color: #000; font-weight: bold;">75/150</span>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
